## Segmenting and Clustering Neighboring in Toronto - Assignment - 1

In [21]:
# import libraries
import pandas as pd
import numpy as np
import requests as rq

## Fetch the data to Pandas Dataframe

In [22]:
# URL of the page
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Download the data
page= rq.get(url).text

# dataframe creation
data = pd.read_html(page, header=0, attrs={"class":"wikitable sortable"})[0]

In [23]:
data.head()  # have a look at the dataframe

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### dimensions of data

In [24]:
data.shape                     # dimensions of data

(289, 3)

## Data Cleaning

In [25]:
data['Borough'].value_counts()           # to count Not assigned values

Not assigned        77
Etobicoke           45
Scarborough         38
North York          38
Downtown Toronto    37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

In [38]:
df = data[data['Borough']!='Not assigned']          # taking Borough with no "Not assignment"

In [39]:
df['Borough'].value_counts()            # checking unique values

Etobicoke           45
Scarborough         38
North York          38
Downtown Toronto    37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

In [40]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [41]:
df=df.reset_index(drop=True)                   # Reseting index to start from 0
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [42]:
df[df['Neighbourhood']=='Not assigned']

  Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

In [43]:
df['Neighbourhood']= np.where(df['Neighbourhood']=='Not assigned', df['Borough'], df['Neighbourhood'])

## Data Aggregation / Transformation

In [46]:
df = df.groupby(['Postcode','Borough'], sort=False).agg(lambda x: ','.join(x))
df.reset_index(inplace=True)
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

Looking at the final shape of cleaned data

In [47]:
df.shape

(103, 3)

## Getting Coordinates for each neighborhood